<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>969518837783-mq3ja7ik54vp7nq3hap70jdh6fbifa8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969518837783-mq3ja7ik54vp7nq3hap70jdh6fbifa8g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>969518837783-r9il08d0ho3v79cpr8ahceh51ut8dhvv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2SlZjiP5vh2z75voP3k_X7ITx8GcveIU</string>
	<key>GCM_SENDER_ID</key>
	<string>969518837783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eduapp4syria.feedthemonster</string>
	<key>PROJECT_ID</key>
	<string>feed-the-monster-learn-arabic</string>
	<key>STORAGE_BUCKET</key>
	<string>feed-the-monster-learn-arabic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969518837783:ios:7ec96d84be77d669</string>
	<key>DATABASE_URL</key>
	<string>https://feed-the-monster-learn-arabic.firebaseio.com</string>
</dict>
</plist>